/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Formulario */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Botón */
button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

#equivalenciaDiv {
    margin-top: 20px;
    background-color: #f39c12;
    padding: 10px;
    border-radius: 4px;
    color: white;
    text-align: center;
}

/* Estilos Responsivos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        width: 90%; /* Aumenta el tamaño del contenedor en pantallas pequeñas */
    }

    form {
        padding: 15px;
    }

    label, input, select, button {
        font-size: 0.9rem; /* Reducir el tamaño de fuente para mejor ajuste */
        padding: 8px;
    }

    table {
        width: 100%;
        font-size: 0.9rem; /* Reducir el tamaño de la tabla para pantallas pequeñas */
    }

    th, td {
        padding: 8px;
    }

    /* Ajustar la visibilidad del div de equivalencia */
    #equivalenciaDiv {
        font-size: 0.9rem;
    }
}

/* Estilos para pantallas muy pequeñas */
@media screen and (max-width: 400px) {
    body {
        font-size: 0.8rem;
    }

    table {
        font-size: 0.8rem;
    }
}
